In [1]:
import os, sys
import platform
print("Python:", sys.version)
print("Platform:", platform.platform())
print("Working Directory:", os.getcwd())

Python: 3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]
Platform: Windows-11-10.0.26100-SP0
Working Directory: c:\Users\fulle\Desktop\human-capital-laborforce-panel\analysis

In [2]:
import os
#manually added my FRED API key as an enivronment variable
print(bool(os.getenv("FRED_API_KEY")))

True

In [ ]:
from fredapi import Fred
import pandas as pd

fred = Fred()

STATE_NAMES = [
    "Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia",
    "Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
    "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey",
    "New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina",
    "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","District of Columbia"
]

In [ ]:
# State-level official FIPS codes for standardization
STATE_FIPS = {
    "AL": "01","AK": "02","AZ": "04","AR": "05","CA": "06","CO": "08","CT": "09","DE": "10","DC": "11","FL": "12",
    "GA": "13","HI": "15","ID": "16","IL": "17","IN": "18","IA": "19","KS": "20","KY": "21","LA": "22","ME": "23",
    "MD": "24","MA": "25","MI": "26","MN": "27","MS": "28","MO": "29","MT": "30","NE": "31","NV": "32","NH": "33",
    "NJ": "34","NM": "35","NY": "36","NC": "37","ND": "38","OH": "39","OK": "40","OR": "41","PA": "42","RI": "44",
    "SC": "45","SD": "46","TN": "47","TX": "48","UT": "49","VT": "50","VA": "51","WA": "53","WV": "54","WI": "55","WY": "56"
}

#Generate the name of the data series used by FRED based on state abbrevation
def state_lfp_series_id_from_fips(state_abbr: str) -> str:
    """
    Constructing LBSSA series name ('LBSSA' + 2-digit FIPS)
    """
    fips = STATE_FIPS.get(state_abbr)
    if fips is None:
        raise ValueError(f"No FIPS for state abbr {state_abbr}")
    return f"LBSSA{fips}"

#Pull the series from FRED API, return yearly LFPR average
def get_state_lfp(state_name: str, state_abbr: str, start_year: int = 2010, end_year: int = 2019):
    sid = state_lfp_series_id_from_fips(state_abbr)

    # Constrain the data fetch to appropriate range
    s = fred.get_series(
        sid,
        observation_start=f"{start_year}-01-01",
        observation_end=f"{end_year}-12-31"
    )

    if s is None or s.empty:
        print(f"No data for {state_name} ({state_abbr})")
        return None

    s.index = pd.to_datetime(s.index)
    # compute annual average from monthly
    annual = s.resample("YE").mean().to_frame(name="lfp_sa")
    annual["year"] = annual.index.year
    annual["state_abbr"] = state_abbr
    return annual[["state_abbr", "year", "lfp_sa"]]

#test on my two favorite states :)
mi = get_state_lfp("Michigan", "MI")
ma = get_state_lfp("Massachusetts", "MA")
display(mi.tail())
display(ma.tail())

           state_abbr  year     lfp_sa
2015-12-31         MI  2015  60.366667
2016-12-31         MI  2016  61.250000
2017-12-31         MI  2017  61.425000
2018-12-31         MI  2018  61.591667
2019-12-31         MI  2019  61.883333

           state_abbr  year     lfp_sa
2015-12-31         MA  2015  65.200000
2016-12-31         MA  2016  65.250000
2017-12-31         MA  2017  65.966667
2018-12-31         MA  2018  67.141667
2019-12-31         MA  2019  67.225000

In [6]:
# building state-level LFP panel (2010–2019)
import time
all_states = []
STATE_ABBRS = [
    "AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA",
    "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
    "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ",
    "NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
    "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","DC"
]
STATE_MAP = list(zip(STATE_NAMES, STATE_ABBRS))

for name, abbr in STATE_MAP:
    try:
        df = get_state_lfp(name, abbr)
        time.sleep(1)
        if df is not None and not df.empty:
            all_states.append(df)
        else:
            print(f"Skipped{name}")
    except Exception as e:
        print(f"Error with {name} ({abbr}):", e)

lfp_panel = pd.concat(all_states, ignore_index=True)
print("Shape:", lfp_panel.shape)
print(lfp_panel.head())

# save to data folder
out_path = "../data/lfp_state_year.csv"
lfp_panel.to_csv(out_path, index= False)
print("Saved file to:", out_path)

Shape: (510, 3)
  state_abbr  year     lfp_sa
0         AL  2010  59.800000
1         AL  2011  59.425000
2         AL  2012  58.325000
3         AL  2013  57.683333
4         AL  2014  56.950000
Saved file to: ../data/lfp_state_year.csv

In [7]:
import os
print(os.getcwd())

c:\Users\fulle\Desktop\human-capital-laborforce-panel\analysis

In [8]:
# U.S. Census ACS 1-year “S1501: Educational Attainment” data scraping
import pandas as pd
import requests

# map Census state FIPS -> Previous state abbreviation for correct alignment
FIPS_TO_ABBR = {
    "01":"AL","02":"AK","04":"AZ","05":"AR","06":"CA","08":"CO","09":"CT","10":"DE","11":"DC","12":"FL",
    "13":"GA","15":"HI","16":"ID","17":"IL","18":"IN","19":"IA","20":"KS","21":"KY","22":"LA","23":"ME",
    "24":"MD","25":"MA","26":"MI","27":"MN","28":"MS","29":"MO","30":"MT","31":"NE","32":"NV","33":"NH",
    "34":"NJ","35":"NM","36":"NY","37":"NC","38":"ND","39":"OH","40":"OK","41":"OR","42":"PA","44":"RI",
    "45":"SC","46":"SD","47":"TN","48":"TX","49":"UT","50":"VT","51":"VA","53":"WA","54":"WV","55":"WI","56":"WY"
}

def fetch_bachelors_share_year(year: int) -> pd.DataFrame:
    """
    ACS 1-year table S1501
    S1501_C02_015E = Percent age 25+ with Bachelor's degree or higher (estimate)
    """
    import pandas as pd, requests

    url = f"https://api.census.gov/data/{year}/acs/acs1/subject"
    params = {
        "get": "NAME,S1501_C02_015E",
        "for": "state:*"
    }
    r = requests.get(url, params=params, timeout=30)
    print("Requested:", r.url)
    r.raise_for_status()

    data = r.json()
    cols = data[0] # ["NAME","S1501_C02_015E","state"]
    rows = data[1:]
    df = pd.DataFrame(rows, columns=cols)

    # clean up
    df = df.rename(columns={"state": "state_fips"})
    df["bachelors_share"] = pd.to_numeric(df["S1501_C02_015E"], errors="coerce")
    df["state_abbr"] = df["state_fips"].map(FIPS_TO_ABBR)
    df["year"] = year

    out = df[["state_abbr", "year", "bachelors_share"]].dropna(subset=["state_abbr"])
    return out


# --- test for 2015 ---
edu_2015 = fetch_bachelors_share_year(2015)
edu_2015.head()

Requested: https://api.census.gov/data/2015/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A

  state_abbr  year  bachelors_share
0         MS  2015             20.8
1         MO  2015             27.8
2         MT  2015             30.6
3         NE  2015             30.2
4         NV  2015             23.6

In [9]:
#education by state, save to panel
import pandas as pd
#end-exclusive
years = list(range(2010,2020))
frames = []

for y in years: 
    try: 
        df = fetch_bachelors_share_year(y)
        print(f"Year {y}: {df.shape[0]} rows")
        frames.append(df)
    except Exception as e: 
        print(f"Skipped {y} due to error {e}")
edu_panel = pd.concat(frames, ignore_index= True)
print("Total rows:", edu_panel.shape[0])
print(edu_panel.head())

Requested: https://api.census.gov/data/2010/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2010: 51 rows
Requested: https://api.census.gov/data/2011/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2011: 51 rows
Requested: https://api.census.gov/data/2012/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2012: 51 rows
Requested: https://api.census.gov/data/2013/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2013: 51 rows
Requested: https://api.census.gov/data/2014/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2014: 51 rows
Requested: https://api.census.gov/data/2015/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2015: 51 rows
Requested: https://api.census.gov/data/2016/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2016: 51 rows
Requested: https://api.census.gov/data/2017/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2017: 51 rows
Requested: https://api.census.gov/data/2018/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2018: 51 rows
Requested: https://api.census.gov/data/2019/acs/acs1/subject?get=NAME%2CS1501_C02_015E&for=state%3A%2A
Year 2019: 51 rows
Total rows: 510
  state_abbr  year  bachelors_share
0         AL  2010             22.0
1         AK  2010             26.3
2         AZ  2010             27.1
3         AR  2010             19.9
4         CA  2010             30.5

In [10]:
lfp_panel["year"].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int32)

In [11]:
# Save ACS education panel (2010–2018)
edu_panel.to_csv("../data/edu_state_year.csv", index=False) 
print("Saved: ../data/edu_state_year.csv")

Saved: ../data/edu_state_year.csv

In [12]:
#merge the two data sets by month
merged = pd.merge(lfp_panel, edu_panel, on=["state_abbr", "year"], how="inner")
print("Merged shape:", merged.shape)
merged.head()

Merged shape: (510, 4)

  state_abbr  year     lfp_sa  bachelors_share
0         AL  2010  59.800000             22.0
1         AL  2011  59.425000             22.2
2         AL  2012  58.325000             23.4
3         AL  2013  57.683333             23.3
4         AL  2014  56.950000             23.1

In [13]:
#data analysis
# data preview
print("Shape:", merged.shape)
print("\nColumn types:")
print(merged.dtypes)

print("\nMissing values per column:")
print(merged.isna().sum())

print("\nSummary statistics:")
print(merged.describe())

# Check time coverage
print("\nYears:", merged['year'].unique())
print("\nStates:", merged['state_abbr'].nunique())

Shape: (510, 4)

Column types:
state_abbr          object
year                 int32
lfp_sa             float64
bachelors_share    float64
dtype: object

Missing values per column:
state_abbr         0
year               0
lfp_sa             0
bachelors_share    0
dtype: int64

Summary statistics:
              year      lfp_sa  bachelors_share
count   510.000000  510.000000       510.000000
mean   2014.500000   64.121389        30.129608
std       2.875101    4.051861         6.440278
min    2010.000000   53.308333        17.300000
25%    2012.000000   61.366667        25.900000
50%    2014.500000   63.970833        29.200000
75%    2017.000000   67.377083        33.200000
max    2019.000000   72.975000        60.400000

Years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]

States: 51

In [14]:
merged.to_csv("../data/merged_state_panel.csv", index=False)
print("Merged dataset exported successfully to ../data/merged_state_panel.csv")

Merged dataset exported successfully to ../data/merged_state_panel.csv